# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build outputs
build/
dist/
.out/
.next/

# Env
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Others
.cache/
.tmp/
